In [17]:
import torch
import pandas as pd
import os
from evoVAE.models.seqVAE import SeqVAE
import evoVAE.utils.seq_tools as st

import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)

In [4]:
os.getcwd()

'/scratch/user/s4646506/evoVAE/notebooks'

In [4]:
AA = [
    "-",
    "R",
    "H",
    "K",
    "D",
    "E",
    "S",
    "T",
    "N",
    "Q",
    "C",
    "G",
    "P",
    "A",
    "V",
    "I",
    "L",
    "M",
    "F",
    "Y",
    "W",
]

metadata = pd.read_csv("../data/dms_pabp/DMS_substitutions.csv")
pabp_yeast = pd.read_csv("../data/dms_pabp/PABP_YEAST_Melamed_2013.csv")

In [5]:
pabp_yeast

,mutant,mutated_sequence,DMS_score,DMS_score_bin
0,G126S:N139D,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.610838,1
1,G126C:D138A,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.233753,0
2,G126C:D136Y,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.471235,1
3,G126C:D136V,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.368808,1
4,G126C:D136N,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.245181,0
...,...,...,...,...
37703,P200V,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,0.976337,1
37704,P200T,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,1.005247,1
37705,P200S,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,1.052320,1
37706,P200Q,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,1.379698,1
37707,P200I,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...,1.025702,1

In [29]:
meta_info = metadata[metadata["DMS_id"] == "PABP_YEAST_Melamed_2013"]
seqs = pabp_yeast["mutated_sequence"]
encodings = seqs.apply(st.seq_to_one_hot)
pabp_yeast["one_hot"] = encodings

In [79]:
pabp_msa = st.read_aln_file("../data/dms_pabp/PABP_YEAST_full_11-26-2021_b07.a2m")
wt = meta_info["target_seq"].values[0]

In [82]:
fix = lambda x: x.upper().replace(".", "-")
pabp_msa["sequence"] = pabp_msa["sequence"].apply(fix)

In [84]:
pabp_msa

,id,sequence
0,PABP_YEAST/1-577,MADITDKTAEQLENLNIQDDQKQAATGSESQSVENSSASLYVGDLE...
1,UniRef100_A0A4S2JPU5/947-1581,-----------------------TAAAMNPGAPNYPMASLYVGNLH...
2,UniRef100_A0A4S2JPU5/1620-2176,----------------------------------------------...
3,UniRef100_A0A5A7PBR7/5-620,---------------QVQPQNVATPGPNGAAAGQFLSTSLYVGDLD...
4,UniRef100_A0A5A7PBR7/635-1286,--------------IQVQTQNVAAPGSNGAAATQFPSTSLYVGDLD...
...,...,...
7861,UniRef100_UPI0004F40696/6-431,----------------------------------AASPSIWVGGLD...
7862,UniRef100_UPI00053FDDE1/9-445,-----------------------------DNLLQEQRRSLYVGDLH...
7863,UniRef100_A0A7S3IB37/5-519,--------------------------NMSRQPMMSNETQLYVGDLP...
7864,UniRef100_A0A833VZM1/2-427,----------------------------------YPVQSLYVGDLD...
7865,UniRef100_A0A7G2CCF8/6-469,-----------------------------------PNPSIWVGGLD...